@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins';
}


/*========================== HEADER ===============================*/

/* background: radial-gradiant(rgb(139,195,245), #1294b8) */
#header {
    background: radial-gradient(rgb(207, 224, 238), #1294b8);
    width: auto;
    height: 700px;
}

#h_nav_icon-header {
    display: flex; 
    justify-content: space-around;
    gap: 20px;
    color: #fff;
}

#h_nav_icon-header #header-nav {
    display: flex;
    align-self: center;
}

/*======== NAV =======*/
nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 5px;
    padding: 0 15px;
}

#ulia-header li a {
    transition: 0.5s;
}

#ulia-header li a:hover {
    color: #A0A0A0;
}

#ulia-header li a { 
    text-decoration: none;
    color: #fff;
}
 
/*====================*/

/*========ICON========*/

#header-icon ul {
    display: flex;
}

li a i { 
    padding: 0 12px;
    text-decoration: none;
    color: #fff;
}

#header-icon {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#header-icon #icoli-header li {
    display: flex;
    align-self: center;
    flex-direction: row;
}

li a i {
    transition: 0.2s;
}

li a i:hover {
    color: #A0A0A0;
}


/*====================*/

#hp-header {
    padding: 30px;
}

#img-header {
    width: 600px; 
}

#hpinlaImg-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

/* #hpinla-header > * {
    margin-bottom: 25px;
} */

#hpinla-header {
    align-self: center;
    width: 550px;
    /* margin-bottom: 100px; */
}

#hpinla-header h2 {
    margin-bottom: 25px;
    font-size: 50px;
    width: 400px;
    line-height: 60px;
}

#hpinla-header p {
    margin-bottom: 25px;
    width: 400px;
}

#ss-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    width: 400px;
}

#email-form{
    width: 98%;
    border-radius: 50px;
    opacity: 0.5;
    border: none;
    height: 43px; /* 43PX*/
}

#submit-header {
    display: flex;
    position: absolute;
    right: 8px;
    border-radius: 50px;
    border: none;
    align-items: center;
    height: 88%;
    width: 100px;
    background:#0096BD;
    color: #fff;
    text-align: center;
}


/*==========BETWEEN==========*/

#header-between {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

/* Texte qui se trouve AU-DESSUS des trois cartes blueus */

.childHb {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: 40px;
    /* justify-content: center; */
}

.childHb h2 {
    text-align: center;
    font-weight: 500;
}

.childHb p {
    text-align: center;
    color:#A0A0A0;
    width: 550px;
}

/* Texte qui se trouve EN-DESSOUS des trois cartes blueus */

.childHb2 {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: 30px;
    /* justify-content: center; */
}

.childHb2 h2 {
    text-align: center;
    font-weight: 500;
}

.childHb2 p {
    text-align: center;
    color:#A0A0A0;
    width: 550px;
}




/* The container cards */

#containerCards {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 20px;
    background: #fff;
    width: 450px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background: radial-gradient(rgb(195, 212, 226), #1294b8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.5s;
}

.fa-solid {
    color: #fff;
    font-size: 52px;
    margin-bottom: 35px;
}
.card h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.card p {
    color: #fff;
    text-align: center;
    width: 400px;
}



